
// ======================================

$wave-flag:        none;

$item-padding-fullscreen:    48px;

// HEADER
// ======================================



header p {

  visibility:             hidden;
  font-size:              1.7em;
  margin:                 78px 0px;
  font-weight:            600;
  font-size:              2.65em;
  color:                  #ff6347;
  position:               relative;
  z-index:                10;
}


// MAIN
// ======================================

body {
  font-family:            $sans-serif;
  font-weight:            400;
  color:                  $main-copy;
  background:             $bg;

}

.wrapper {
  @extend                 .clearfix;
  min-height:             100%;
}
// ======================================




// INFO
// --------

.name {
  display: inline-block;
  margin-left: 24px;
  h1 {
    margin: 0 !important;
  }
}


header {
    //overflow:             hidden;
    z-index: 99;
    position:             relative;
    padding-bottom:       92px;

  .name,
  .nav-links {

    position:             relative;
    z-index:              99;
  }

  .title {
    color: $boom;

    //color:  $title-color;
    //margin-left: 24px;
    //padding-top:  32px;
  }

  .subtitle {
    display:              none;
  }



  .nav-links {
    margin-top:    12px;
    //padding-left:         24px;

    a {
      position:           relative;
      margin-right:       24px;
      display:            inline-block;
      transition:         font-weight .1s ease-in-out;
      font-family:        $sans-serif;
      color:              $nav-color;
      font-weight:        400;
      font-size:          1.3em;
      text-decoration:    none;
      letter-spacing:     -0.015em;

      &:visited {
        color:            $nav-color;
      }

      &.active {
        color:            $nav-color;
        font-weight:      500;

      }
    }
  }
}


.main-content h2 {
    padding-left:        12px;
    margin: 10px;
    color:  $title-color;

  //font-weight: 400 !important;

    opacity: 0;
    //transform: translateX(30px);
    //padding-left: 40px;

    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1) 100ms;
    &.bump {

      opacity: 1;
      //position: relative;
      padding-left: 0;

    }
}


// ITEM
//====================================================
//
.work-items {
  position:              relative;
  //margin: 0 10px;
}

.work-item {

  //opacity: 0;


  //transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) 200ms;

  &.bump {
    padding-left: 0;
    opacity: 1;
  }

  .item-content {
    position:           relative;
    height:             100%;
    //background:         $tile-color;
    //padding:            12px;
  }

  &:last-child {
    margin-bottom:           10px;
  }

  .img-wrap {
    display:             none;
  }

  .img-wrap img {
    max-width:           100%;
  }

  hr {
    display: none;
  }


  .btn-wrap {
    text-align: right;
    //position: absolute;
    //bottom: 12px;
    //right: 12px;
  }

  .btn-wrap > div {
    font-weight: 700;
    color: $tile-attention;
    font-size: 1.7em;
    font-family: $serif-cond;
  }

  .btn-background {
    border-bottom-right-radius:   7px;
    border:                       none;
    height:                       22px;
    position:                     absolute;
    bottom:                       10px;
    left:                         3px;
    z-index:                      1;
  }

  .tasks {
    margin:                       0;
    display:                      block;
    list-style:                   none;
  }

  .task {
    //color:                       $task;
    display:                     inline-block;
    font-size:                   .85em;
    font-weight:                 500;
    text-transform:              uppercase;
    letter-spacing:              .085em;;

    span {
      color:                     $tile-attention;
      font-weight:               700;
      position:                  relative;
      bottom:                    1px;
      margin-left:               4px;
    }

  }

  .details {
    margin:                      14px 0 ;
  }



  .info h3 {
    color:                      $title-color;
    line-height:                1;
    position: relative;
    left: -1px;
  }


  .description {
    position:                   relative;
    z-index:                    10;
    h4 {
      color: $title-color;
    }

    p {
      margin:                   0;
      color:                    $tile-copy;
    }
  }



  .year {

    color:                      $red;
    //font-family:                $sans-serif-comp;
    display:                    block;
    margin-bottom:              4px;
    //margin-top:                 26px;
    font-weight:                500;
    text-transform:             uppercase;
    font-size: 1.15em;
    letter-spacing: .04em;
  }
}


//  =================================================
//  MEDIA QUERIES
//  =================================================

@media (min-width: 680px) {

  body {
      background-image: url($svg-stripes);
      background: white;
  }

  .wrapper {
    background: $bg;
    margin: 24px;
    min-height: 100em;
  }

  header {

    padding-left: 48px;
    padding-top: 48px;
    width: 27%;
    //position: fixed;

    //background: $red;


  }

  .intro {
    height: 240px;
    background: #f1f1f1;
    //border-bottom: 12px solid #d8d4d0;

  }

  // LAYOUT
  .wrapper article {
    display: flex;
    padding: 48px;
  }

  .main-content {
    position: relative;
    background: #eaeaea;


    &::before{
      //content: "";
      height: 24px;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url($svg-stripes2);
    }
  }

  .title-wrap {
    text-align: right;
    flex: .15;
  }

  // .title-wrap h2 {
  //   padding: 14px;
  // }

  .work-items {
    flex: .85;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 48px;
    //padding: 98px 48px;

  }

  .work-item {

    position: relative;
    min-width: 440px;
    //transition: all .3s ease-in-out;
    flex: .5;
    height: auto;
    font-size: .9em;




    // &:before {
    //   transition: all .3s ease-in-out;
    //   content: "";
    //   height: 100%;
    //   width: 0;
    //   position: absolute;
    //   display: block;
    //   background-image: url($svg-stripes);
    //   right: 100.1%;
    //   top: 0;
    // }
    //
    // &:after {
    //   transition: all .3s ease-in-out;
    //   content: "";
    //   height: 100%;
    //   width: 0;
    //   position: absolute;
    //   display: block;
    //   background: $tile-muted;
    //   left: 0px;
    //   top: 0;
    // }

    .item-content {
      margin-right: 48px;
      width: 92%;
      padding: 20px;
      //border-radius: 3px;
      transition: all .2s ease-in-out;
      &:hover {
        cursor: pointer;
        //background: rgba(88, 88, 88, 0.07);
        background-image: url($svg-stripes2);
        background: #d2d2d2;
        .task,
        .task > span,
        p,
        h3 {
          //color: black; //$title-color;
        }

        //border-bottom:10px solid rgba(88, 88, 88, 0.07);
        //background-image: url($svg-graph);
      }
    }
  }

  .name {
    margin-left: 0;
    display: inline-block;;
    .title {
      display: block;
      text-align: left;
      //padding-left: 48px;
    }
  }

  .title-wrap {


    display: inline-block;
    position: relative;
    margin: 0;
  //  border-left: 1px solid $divider-color;

    // &:before {
    //   transition: all .3s ease-in-out;
    //   content: "";
    //   height: 100%;
    //   width: 14px;
    //   position: absolute;
    //   display: block;
    //   background-image: url($svg-stripes);
    //   left: -15px;
    //   top: 0;
    //
    // }
    //
    // &:after {
    //   transition: all .3s ease-in-out;
    //   content: "";
    //   height: 100%;
    //   width: 14px;
    //   position: absolute;
    //   display: block;
    //   background: $tile-muted;
    //   left: 0px;
    //   top: 0;
    // }


    h2 {
      padding: 19px 0 0 0;
      font-family: $sans-serif-comp;
      font-size: 2em;
      margin: 0;
      text-align: left;

    }
  }

  .contact {
    width: 50%;
    height: 350px;
    background: $red;
  }

  footer {
    width: 50%;
    height: 350px;
    background: $tile-color;
  }

  .blur {
    filter: blur(20px);
  }


  .intro p {
    display: none;
  }

  // ABOUT
  .about p {
    column-count: 2;
    //columns: 20%;
    column-gap: 5em;
    max-width: 55%;
    margin: 0;

    //margin-right: 56px;
  }


  .btn-wrap {
    display: none;
  }


}




@media (min-width: 769px) {

  // .nav-links {
  //   display: inline-block;
  // }
  //
  // .work-item {
  //   margin: 0;
  //   position: relative;
  // }
  //
  // .work-item:first-child {
  //   position: relative;
  // }
  //
  // .work-items .details {
  //   margin: 16px 0;
  // }
  //
  // .work-item .item-content {
  //   padding:  20px $item-padding-fullscreen;
  // }
  //
  // .work-item .btn-wrap {
  //   position: absolute;
  //   bottom: $item-padding-fullscreen;
  //   right: $item-padding-fullscreen;
  // }



}

// ANIMATION






// .wave {
//   display: $wave-flag;
//   opacity: .4;
//   position: absolute;
//   top: -67%;
//   left: 10%;
//   background: $wave-one;
//   width: 750px;
//   height: 750px;
//   margin-left: -250px;
//   margin-top: -250px;
//   transform-origin: 50% 47%;
//   border-radius: 46%;
//   animation: drift 45500ms infinite linear;
// }
//
// .wave.-three {
//   display: $wave-flag;
//   animation: drift 11800ms infinite linear;
// }
//
// .wave.-two {
//   display: $wave-flag;
//   animation: drift 17200ms infinite linear;
//   opacity: .1;
//   background: $wave-two;
// }
//
//
// @keyframes drift {
//   from { transform: rotate(0deg); }
//   from { transform: rotate(360deg); }
// }
