
<div class="content-info animated fadeIn">

    <section class="">
      <h2>About</h2>
      <div class="my-pic"></div>
      <p class="about">Hi, I'm Joel.  I'm a designer, developer, and father of four living in Indianapolis. I enjoy CSS pre-processors, typogrpahy, and that
        feeling you get when translating a design problem into a working interface... Add more...
      </p>
    </section>

    <section class="expertise">
    </section>

    <section class="history">
    </section>





</div>
