
<!-- <div class="item-content-info animated fadeIn"></div> -->


  <div class="title-wrap">
    <h2>My Work</h2>
  </div>



  <div class="work-items">

    <!-- Grid -->
    <section class="work-item">

      <div class="item-content">

        <span class="year">2016</span>
        <div class="info">
          <h3>Grid</h3>
          <ul class="tasks">
            <li class="task">HTML<span>/</span></li>
            <li class="task">CSS<span>/</span></li>
            <li class="task">JavaScript</li>
          </ul>
        </div>




        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Annotation Viewer -->
    <section class="work-item">

      <div class="item-content">


        <div class="year-wrap">
          <span class="year">2016</span>
        </div>
        <div class="info">
          <h3>Annotation Viewer</h3>
          <ul class="tasks">
            <li class="task">HTML<span>/</span></li>
            <li class="task">CSS<span>/</span></li>
            <li class="task">JavaScript</li>
          </ul>
        </div>




        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Leveraging a Google Search Appliance (GSA), I generated markup using XSLT to create the UI for a search page for the the state of Indiana.  </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Navigation Revision -->
    <section class="work-item">

      <div class="item-content">
        <span class="year">2016</span>

        <div class="info">
          <h3>Drilldown Navigation</h3>
          <ul class="tasks">
            <li class="task">HTML<span>/</span></li>
            <li class="task">CSS<span>/</span></li>
            <li class="task">JavaScript</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Add Field Prototype -->
    <section class="work-item">
      <div class="item-content">
        <div class="year-wrap">
          <span class="year">2015</span>
        </div>

        <div class="info">
          <h3>Add Field Dropdown</h3>
          <ul class="tasks">
            <li class="task">HTML<span>/</span></li>
            <li class="task">CSS<span>/</span></li>
            <li class="task">JavaScript</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Leveraging a Google Search Appliance (GSA), I generated markup using XSLT to create the UI for a search page for the the state of Indiana.  </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Side Navigation -->
    <section class="work-item">

      <div class="item-content">

        <div class="year-wrap">
          <span class="year">2015</span>
        </div>
        <div class="info">
          <h3>Navigation</h3>
          <ul class="tasks">
            <li class="task">HTML<span>/</span></li>
            <li class="task">CSS<span>/</span></li>
            <li class="task">JavaScript</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Leveraging a Google Search Appliance (GSA), I generated markup using XSLT to create the UI for a search page for the the state of Indiana.  </p>
          </div>
        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Accounts Receivable -->
    <section class="work-item">

      <div class="item-content">

        <div class="year-wrap">
          <span class="year">2014</span>
        </div>
        <div class="info">
          <h3>Accounts Receivable</h3>
          <ul class="tasks">
            <li class="task">HTML<span>/</span></li>
            <li class="task">JavaScript<span>/</span></li>
            <li class="task">CSS</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Leveraging a Google Search Appliance (GSA), I generated markup using XSLT to create the UI for a search page for the the state of Indiana.  </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Graphics Management -->
    <section class="work-item">

      <div class="item-content">
        <span class="year">2014</span>

        <div class="info">
          <h3>Graphics Management</h3>
          <ul class="tasks">
            <li class="task">UI Design<span>/</span></li>
            <li class="task">HTML<span>/</span></li>
            <li class="task">CSS<span>/</span></li>
            <li class="task">JavaScript</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Ad Banners -->
    <section class="work-item">

      <div class="item-content">

        <div class="year-wrap">
          <span class="year">2014</span>
        </div>
        <div class="info">
          <h3>Ad Banners</h3>
          <ul class="tasks">
            <li class="task">Design</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Leveraging a Google Search Appliance (GSA), I generated markup using XSLT to create the UI for a search page for the the state of Indiana.  </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>

      </div>
    </section>

    <!-- Search Page -->
    <section class="work-item">

      <div class="item-content">


        <div class="year-wrap">
          <span class="year">2013</span>
        </div>
        <div class="info">
          <h3>Search Page</h3>
          <ul class="tasks">
            <li class="task">XSLT <span>/</span></li>
            <li class="task">JavaScript <span>/</span></li>
            <li class="task">CSS</li>
          </ul>
        </div>



        <div class="details">
          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">
            <p>Leveraging a Google Search Appliance (GSA), I generated markup using XSLT to create the UI for a search page for the the state of Indiana.  </p>
          </div>
        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>


      </div>
    </section>

    <!-- Event Flyer -->
    <section class="work-item">
      <div class="item-content">
        <div class="year-wrap">
          <span class="year">2011</span>
        </div>
        <div class="info">
          <h3>Event Flyer</h3>
          <ul class="tasks">
            <li class="task">Design</li>
          </ul>
        </div>



        <div class="details">

          <div class="img-wrap">
            <img src="img/in_gov_search_thumbnail.png">
          </div>

          <div class="description">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>

        </div>

        <div class="btn-wrap">
          <div>View</div>
        </div>



      </div>
    </section>

  </div>  <!--end work-items -->

</div>
