//-------------------------------------------------------
// HELPERS
//-------------------------------------------------------
// Helper Classes and Mixins.
//=======================================================


//-------------------------------------------------------
// MIXINS
//-------------------------------------------------------

    // IMAGE REPLACEMENT MIXIN
    // ----------------------------------------
    @mixin linkTextOffscreen() {
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
       // display: block;
        font-size: 0;
        text-align: start;
    }

    // FONT-STACK MIXIN
    // ----------------------------------------
    @mixin sans($font-style) {
      @if $font-style == "regular" {
        font-family: "Open Sans Reg", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      @if $font-style == "italic" {
        font-family: "Open Sans Reg", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      @if $font-style == "bold" {
        font-family: "Open Sans Reg", sans-serif;
        font-weight: 700;
        font-style: normal
      }
      @if $font-style == "cond" {
        font-family: "Open Sans Cond", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      @if $font-style == "cond-italic" {
        font-family: "Open Sans Cond I", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      @if $font-style == "cond-bold" {
        font-family: "Open Sans Cond", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      @if $font-style == "bold-italic" {
        font-family: "Open Sans BI", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
    }

    @mixin serif($font-style) {
      @if $font-style == "regular" {
        font-family: georgia, serif;
      }
    }

    @mixin slab($font-style) {
      @if $font-style == "regular" {
        font-family: "Rokkitt R", Rockwell;
      }
    }

    // Using root ems (rems) units only for font sizing.
    // Degrades to px, as rems only supported in IE9+.
    @mixin font-size($sizeValue){
      font-size: ($sizeValue * $base-num) + px;
      font-size: $sizeValue + rem;
    }

    @mixin selection {
      * {
        @content;
      }

    }
    @mixin box-emboss($opacity, $opacity2){
        box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
    }

    @mixin letterpress($opacity){
        text-shadow:white($opacity) 2px 2px 0;
    }

    @mixin radial-gradient($from, $to) {
    	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    	background-color: $from;
  }

  @mixin cut-corners($size, $bg-color) {
      padding:           0;
      display:           block;
      background-size:   cover;
      background-clip:   content-box;
      background-color:  $bg-color;
      position:          relative;



      &:after {
        content: "";
        display: block;
        position: absolute;
        border: $size solid transparent;
        border-bottom: $size solid $bg-color;
        bottom: -$size;
        right: -$size;
        transform: rotate(135deg);
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        border: $size solid transparent;
        border-top: $size solid $bg-color;
        top: -$size;
        left: -$size;
        transform: rotate(135deg);
      }
  }

  @mixin text-underline-crop($background) {
    text-shadow:  .03em 0 $background,
                  -.03em 0 $background,
                  0 .03em $background,
                  0 -.03em $background,
                  .06em 0 $background,
                  -.06em 0 $background,
                  .09em 0 $background,
                  -.09em 0 $background,
                  .12em 0 $background,
                  -.12em 0 $background,
                  .15em 0 $background,
                  -.15em 0 $background;
  }

  @mixin text-underline($color-bg, $color-text) {
    background-image: linear-gradient($color-text, $color-text);
    background-size: 1px 2px;
    background-repeat: repeat-x;
    background-position: 0% 92%;
  }

  @mixin text-selection($selection) {
    &::selection {
      @include text-underline-crop($selection);

      background: $selection;
    }

    &::-moz-selection {
      @include text-underline-crop($selection);

      background: $selection;
    }
  }

  @mixin link-underline($background, $text, $selection){
    @include text-underline-crop($background);
    @include text-underline($background, $text);
    @include text-selection($selection);

    color: $text;
    text-decoration: none;

    *,
    *:after,
    &:after,
    *:before,
    &:before {
      text-shadow: none;
    }

    &:visited {
      color: $text;
    }
  }




@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// /// Triangle helper mixin
// /// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
// /// @param {Color} $color [currentcolor] - Triangle color
// /// @param {Length} $size [1em] - Triangle size
// @mixin triangle($direction, $color: currentcolor, $size: 1em) {
//   @if not index(top right bottom left, $direction) {
//     @error "Direction must be either `top`, `right`, `bottom` or `left`.";
//   }
//
//   width: 0;
//   height: 0;
//   content: '';
//   z-index: 2;
//   border-#{opposite-position($direction)}: ($size * 1.5) solid $color;
//
//   $perpendicular-borders: $size solid transparent;
//
//   @if $direction == top or $direction == bottom {
//     border-left:   $perpendicular-borders;
//     border-right:  $perpendicular-borders;
//   } @else if $direction == right or $direction == left {
//     border-bottom: $perpendicular-borders;
//     border-top:    $perpendicular-borders;
//   }
// }



//-------------------------------------------------------
// HELPERS
//-------------------------------------------------------
    .clearfix {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }


    // For image replacement
    %ir {
       text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;


    }

    %double-border {
      display: inline-block;
      padding: 2px 0;
      border-bottom: 1px solid #444;
      border-top: 4px solid #444;
    }

    // Hide for both screenreaders and browsers:
    // css-discuss.incutio.com/wiki/Screenreader_Visibility

    %hidden {
      display: none;
      visibility: hidden;
    }

    // Hide visually only but have it available for screenreaders by Jon Neal
    // webaim.org/techniques/css/invisiblecontent also j.mp/visuallyhidden

    //

    %visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      position: absolute;
      overflow: hidden;
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;

      &.focusable:active,
      &.focusable:focus {
        clip: auto;
        position: static;
        overflow: visible;
        margin: 0;
        width: auto;
        height: auto;
        }
    }

    %ib {
      display: inline-block;
      zoom: 1;
      *display: inline;
    }



    %animated {
      -webkit-animation-duration: .5s;
         -moz-animation-duration: .5s;
           -o-animation-duration: .5s;
              animation-duration: .5s;
      -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
           -o-animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInLeft {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-35px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
      }
    }

    @-moz-keyframes fadeInLeft {
      0% {
        opacity: 0;
        -moz-transform: translateX(-35px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateX(0);
      }
    }

    @-o-keyframes fadeInLeft {
      0% {
        opacity: 0;
        -o-transform: translateX(-35px);
      }

      100% {
        opacity: 1;
        -o-transform: translateX(0);
      }
    }

    @keyframes fadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-35px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    %fadeInLeft {
      -webkit-animation-name: fadeInLeft;
      -moz-animation-name: fadeInLeft;
      -o-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
    }


    @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

%fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
