

%tile {
  background:   $tile-bg;
  color:        $tile-color;
  transition:   all .25s ease;
  margin:       10px 10px 0 0;
  margin:       5px 10px;

  &:hover {

  }

  .item-content {
    position:           relative;
    height:             100%;
    padding:            12px;
  }

}
